openapi: 3.0.3
info:
  title: ParaSwap Market API v5 prices tokens API
  description: The ParaSwap Market API (now Velora Market API) provides real-time optimal swap routing across 170+ DEXes on 12 EVM-compatible chains. Retrieve price quotes with optimal routes, build transaction call data, or combine both in a single call. Supports the Augustus v5 smart contract.
  contact:
    email: contact@paraswap.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '5.0'
servers:
- url: https://apiv5.paraswap.io
tags:
- name: tokens
  description: Return tokens list from Paraswap
paths:
  /tokens:
    get:
      operationId: getTokens
      summary: Get tokens list (Mainnet)
      description: alias for /tokens/1 — returns curated token list for Ethereum Mainnet
      tags:
      - tokens
      responses:
        '200':
          $ref: '#/components/responses/TokensResponse'
  /tokens/{network}:
    get:
      operationId: getTokensByNetwork
      summary: Get tokens list by network
      tags:
      - tokens
      parameters:
      - $ref: '#/components/parameters/Network'
      responses:
        '200':
          $ref: '#/components/responses/TokensResponse'
components:
  schemas:
    TokensList:
      type: object
      properties:
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/Token'
    Network:
      type: number
      enum:
      - 1
      - 3
      - 56
      - 137
    TokenDecimals:
      type: integer
      minimum: 0
    Token:
      type: object
      required:
      - symbol
      - address
      - decimals
      - img
      - network
      - newToken
      - connectors
      - tokenType
      properties:
        symbol:
          type: string
        address:
          type: string
        name:
          type: string
        decimals:
          $ref: '#/components/schemas/TokenDecimals'
        img:
          type: string
        network:
          $ref: '#/components/schemas/Network'
        newToken:
          type: boolean
          default: false
        connectors:
          type: array
          items:
            type: string
        tokenType:
          type: string
          enum:
          - ETH
          - ERC20
          - SYNTH
          - cToken
          - iToken
          - aToken
          - aToken2
          - idleToken
          - Chai
          - bDAI
  responses:
    TokensResponse:
      description: List of available tokens
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokensList'
          example:
            tokens:
            - symbol: ETH
              address: '0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE'
              decimals: 18
              img: https://img.paraswap.network/ETH.png
              network: 1
            - symbol: USDT
              address: '0xdac17f958d2ee523a2206206994597c13d831ec7'
              decimals: 6
              img: https://img.paraswap.network/USDT.png
              network: 1
  parameters:
    Network:
      name: network
      in: path
      description: ID of the network. (Mainnet - 1, Ropsten - 3, Polygon - 56, BSC - 137).
      required: true
      schema:
        allOf:
        - $ref: '#/components/schemas/Network'
        - default: 1
externalDocs:
  description: Velora / ParaSwap Developer Documentation
  url: https://developers.velora.xyz/api/velora-api/velora-market-api
